@model VC.UIModels.ProductsListViewModel

@using VC.CustomHtmlHelper;

@foreach (var p in Model.Products)
{
    Html.RenderPartial("_ProductSummary", p);
}

<div class="btn-group pull-right">
    @Html.Paging(Model.PagingInfo, x => Url.Action("List", new { productModel = Model.CurrentProductModel, page = x }))
</div>
